{{- $searchURL := "" -}}
{{- with site.GetPage "/page/search" -}}
  {{- $searchURL = .RelPermalink -}}
{{- else -}}
  {{- $searchURL = strings.TrimPrefix "/" (printf "%s/page/search/" site.LanguagePrefix) | relURL -}}
{{- end -}}
<aside class="glass widget widget--search">
  <form class="search-input-wrap" action="{{ $searchURL }}" method="get" role="search">
    <span class="search-input-icon icon-frame">{{ partial "helper/icon" "search" }}</span>
    <input class="search-input" type="search" name="q" placeholder="{{ T "searchPlaceholder" | default "キーワードを入力" }}" aria-label="{{ T "search" | default "検索" }}">
  </form>
</aside>
