{{ define "main" }}
  <div class="layout-grid">
    <div class="layout-grid__main">
      {{- $paginator := .Paginate .RegularPages -}}
      {{- if eq (len $paginator.Pages) 0 -}}
        <p class="search-page__empty">記事はまだありません。</p>
      {{- else -}}
        <div class="article-list section--in">
          {{- range $paginator.Pages -}}
            {{ partialCached "article-item.html" (dict "page" .) .RelPermalink }}
          {{- end -}}
        </div>
        {{ partial "pagination.html" . }}
      {{- end -}}
    </div>
    <aside class="layout-grid__sidebar">
      {{ partial "sidebar.html" . }}
    </aside>
  </div>
{{ end }}
